@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-exemple1 {
  width: 265px;
  height: 351px;
  background-image: url(../assets/exemplo-1.jpg);
  background-size: cover;
}

.bg-exemple2 {
  width: 265px;
  height: 351px;
  background-image: url(../assets/exemplo-2.jpg);
  background-size: cover;
}

.bg-exemple3 {
  width: 265px;
  height: 351px;
  background-image: url(../assets/exemplo-3.jpg);
  background-size: cover;
}

.bg-exemple4 {
  width: 265px;
  height: 351px;
  background-image: url(../assets/exemplo-4.jpg);
  background-size: cover;
}

.numbers {
  min-width: 76px !important;
  max-width: 76px !important;
  min-height: 76px !important;
  max-height: 76px !important;
}

@media (max-width: 541px) {
  .grid-cel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.background-initial {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/bg-inicial.jpg);
  background-position: center;
  background-size: cover;
  z-index: -10;
}

/* Style of social media in footer */
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.facebook {
  margin-top: 1.3em;
  margin-left: -1.3em;
  fill: #03a9f4;
}

.card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.whatsapp {
  margin-top: -0.6em;
  margin-left: 1.0em;
  fill: #00ff00;
}

.card4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.linkedin {
  margin-top: -0.6em;
  margin-left: -0.9em;
  fill: #0077b5;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1877f2;
}

.card2:hover .facebook {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #00ff00;
}

.card3:hover .whatsapp {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #0077b5;
}

.card4:hover .linkedin {
  fill: white;
}
