@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-exemple1 {
  width: 265px;
  height: 351px;
  background-image: url(../assets/exemplo-1.jpg);
  background-size: cover;
}

.bg-exemple2 {
  width: 265px;
  height: 351px;
  background-image: url(../assets/exemplo-2.jpg);
  background-size: cover;
}

.bg-exemple3 {
  width: 265px;
  height: 351px;
  background-image: url(../assets/exemplo-3.jpg);
  background-size: cover;
}

.bg-exemple4 {
  width: 265px;
  height: 351px;
  background-image: url(../assets/exemplo-4.jpg);
  background-size: cover;
}

.numbers {
  min-width: 76px !important;
  max-width: 76px !important;
  min-height: 76px !important;
  max-height: 76px !important;
}

@media (max-width: 541px) {
  .grid-cel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.background-initial {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/bg-inicial.jpg);
  background-position: center;
  background-size: cover;
  z-index: -10;
}
